<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>Hospital Managemant system - Login</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    {% load static %}
    <link rel="stylesheet" href="{% static '/common/' %}css/font.css">
    <link rel="stylesheet" href="{% static '/common/' %}css/login.css">
    <link rel="stylesheet" href="{% static '/common/' %}css/xadmin.css">
    <script type="text/javascript" src="{% static '/common/' %}js/jquery.min.js"></script>
    <script src="{% static '/common/' %}lib/layui/layui.js" charset="utf-8"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up" style="margin: 80px auto 0 auto;">
    <div class="message">Hospital Management System</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form">
        {% csrf_token %}
        <div class="layui-form-item">
            <div class="layui-input-inline" style="width: 100%;">
                <select name="login_type" lay-filter="login_type">
                    <option value="1">Doctor Login</option>
                    <option value="2">Administrators Login</option>
                </select>
            </div>
        </div>
        <input name="username" placeholder="username" type="text" lay-verify="required" class="layui-input">
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="password" type="password" class="layui-input">
        <hr class="hr15">
        <input value="Login" class="login_btn" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
    </form>
</div>

<script>
    jQuery(document).ajaxSend(function (event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });
</script>
<script>
    $(function () {
        layui.use(['form', 'layer'], function () {
            var form = layui.form;
            var layer = layui.layer;
            //监听提交
            form.on('submit(login)', function (data) {
                // 如果选择管理员登录则直接跳转到后台登录页面
                var login_type = data.field.login_type;
                // 通过ajax发送请求，进行登录
                $.ajax({
                    url: "checkLogin.html",
                    type: 'POST',
                    dataType: 'json',
                    data: data.field,
                    success: function (res) {
                        if (res.status == 1) {
                            layer.msg(res.msg, {time: 1000}, function () {
                                // 根据选择登录的类型进行相应的跳转
                                if (login_type == 1) {
                                    location.href = "/doctor/index/index.html";
                                } else {
                                    location.href = "/admin/index/index.html";
                                }
                            });
                            return false;
                        } else {
                            layer.msg(res.msg, {time: 1000}, function () {
                            });
                        }
                    },
                    error: function (res) {
                        layer.msg('Network connection failed. Please try again later', {time: 1000}, function () {
                        });
                    }
                });
                return false;
            });
        });

        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                $(".login_btn").click();
            }
        });
    })
</script>
<!-- 底部结束 -->
</body>
</html>
