{% load static %}
<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="{% static '/common/' %}css/font.css">
    <link rel="stylesheet" href="{% static '/common/' %}css/xadmin.css">
    <script src="{% static '/common/' %}lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="{% static '/common/' %}js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote class="layui-elem-quote">Welcome Doctor：
                        <span class="x-red"> {{ username }}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="sys-time"></span>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function showTime() {
        nowtime = new Date();
        year = nowtime.getFullYear();
        month = nowtime.getMonth() + 1;
        date = nowtime.getDate();
        document.getElementById("sys-time").innerText = year + "-" + month + "-" + date + " " + nowtime.toLocaleTimeString();
    }

    showTime();
    setInterval("showTime()", 1000);
</script>
</html>
