{% extends '../../base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                {% csrf_token %}
                <div class="layui-form-item">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>Symptoms
                        </label>
                        <div class="layui-input-block">
                            <textarea name="symptoms" required lay-verify="required"
                                          placeholder="Please enter symptoms" class="layui-textarea"
                                          style="height: 120px;"></textarea>
                        </div>

                    </div>

                </div>

                <div class="layui-form-item">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>Diagnosis
                        </label>
                        <div class="layui-input-block">
                            <textarea name="results" required lay-verify="required"
                                          placeholder="Please enter diagnosis" class="layui-textarea"
                                          style="height: 120px;"></textarea>
                        </div>

                    </div>

                </div>

                <div class="layui-form-item">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>Treatment
                        </label>
                        <div class="layui-input-block">
                            <textarea name="treatment" required lay-verify="required"
                                          placeholder="Please enter treatment" class="layui-textarea"
                                          style="height: 120px;"></textarea>
                        </div>

                    </div>

                </div>

                <div class="layui-form-item">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>Instructions
                        </label>
                        <div class="layui-input-block">
                            <textarea name="desc"
                                          placeholder="Please enter instructions" class="layui-textarea"
                                          style="height: 120px;"></textarea>
                        </div>

                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="edit" lay-submit="">
                        Save
                    </button>
                </div>
                <input type="hidden" name="id" value="{{ info.id }}">
                <input type="hidden" name="user_id" value="{{ info.user_id }}">
                <input type="hidden" name="doctor_id" value="{{ info.doctor_id }}">
            </form>
        </div>
    </div>

    </body>
    <script>

        layui.use(['form', 'layer', 'upload'], function () {
            $ = layui.jquery;
            var form = layui.form,
                upload = layui.upload,
                layer = layui.layer;

            //自定义验证规则
            form.verify({});

            //监听提交
            form.on('submit(edit)', function (data) {
                console.log(data);
                //发异步，把数据提交
                $.ajax({
                    url: "update.html",
                    type: 'POST',
                    dataType: 'json',
                    data: data.field,
                    success: function (res) {
                        {#console.log(res)#}
                        if (res.state == 1) {
                            layer.msg(res.msg, {icon: 1}, function () {
                                //关闭当前frame
                                xadmin.close();
                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                        } else {
                            layer.msg(res.msg, {icon: 5}, function () {
                            });
                        }
                    },
                    error: function (res) {
                        //called when there is an error
                        layer.msg('Network connection failed. Please try again later', {icon: 2}, function () {
                        });
                    }
                });

                return false;
            });

        });
    </script>
{% endblock %}
